body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.project-image {
    width: 70%;
    margin-left: 15%;
    padding-bottom: 30px;
    padding-top: 30px;
}

.project-info {
    width: 70%;
    margin-left: 15%;
}

.comments-field {
    padding-bottom: 20px;
    width: 70%;
    margin-left: 15%;
    padding-top: 30px;
}

.comment {
    width: 40%;
    border: 1px solid black;
    border-radius: 5px;
}

.username {
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
}

.comment-text {
    padding-left: 15px;
    padding-right: 15px;
}

.star-rating {
    padding-left: 15px;
}