body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 29.5%;
    height: 100%;
    float: left;
    border-right: 2px solid lightgray;
    position:fixed;
    text-align: center;
}

.container {
    width: 70%;
    float: right;
    overflow: auto;
}

.profile {
	margin-top: 20px;
	display: inline-block;
	margin-left: 20px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

.main_name {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.main {
	font-size: 21px;
	font-weight: bold;
	font-family: arial;
	line-height: 2px;
}

.after_main {
	color: #6D6D6D;
	font-size: 20px;
} 

.gallery {
  padding-top: 5px;
}

.imagegallery-img {
    width: 23%;
    height: 300px;
    float: left;
    padding-bottom: 10px;
}