.filter{
    display:inline-block;
    margin-top:55px;
    margin-left:5%;
}

header{
    width:100%;
    height:120px;
    border-bottom:1px solid #c9c9c9;
    background-color:#ffffff;
}

.glu_logo_wrapper{
    margin-left:100px;
    float:left;
    width:360px;
}

header .glu_logo{
    height:120px;
    width:360px;
    background-image:url('../../img/logo.png');
    background-position:center;
    background-repeat:no-repeat;
}

a{
    text-decoration:none;
}

header .cool_button{
    padding:10px;
    float:right;
    margin-right:25px;
    border-radius:15px;
    margin-top:45px;
    width:5%;
    min-width:80px;
    color:#fff;
    font-weight:bold;
    text-align:center;
}

header .logout{
    background-color:#f00;
}

header .admin{
    background-color:#494;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size:14px;
}

.header {
    width: 29.5%;
    height: 100%;
    float: left;
    border-right: 2px solid lightgray;
    position: relative;;
    text-align: center;
}

.container {
    width: 70%;
    float: right;
    overflow: auto;
}

.profile {
	margin-top: 20px;
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

.main_name {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.main {
	font-size: 25px;
	font-weight: bold;
	font-family: arial;
	line-height: 2px;
}

.after_main {
	color: #6D6D6D;
	font-size: 20px;
} 

.gallery {
    width: 100%;
}

.imagegallery-img {
    float: left;
    width: 23%;
    padding: 5px;
    border:1px solid #c9c9c9;
    border-radius: 5px;
    height:400px;
}

.imagegallery-img a{
    color:#c96b00;
}

.imagegallery-img img {
    width: 100%;
    height:auto;
    max-height:200px;
}

.article_main{
    width:90%;
    margin-left:5%;
}

.article_main a{
    color:#000;
    background-color:#c9ffc9;
    border:1px solid #438843;
    border-radius: 5px;
    margin-top:10px;
}

.userinfo{
    background-color:#c9c9ee;
    padding:15px;
    border-radius: 15px;
    border:1px solid #9c9cdd;
}

.userinfo .tag, .userinfo .form{
    display: inline-block;
    width:auto;
    padding:5px;
    border-radius: 3px;
    background-color: #eec9c9;
    border:1px solid #aa4444;
    margin-right:5px;
}

.upload-btn {
    width: 40%;
    height: 50px;
    background-color: #ff8800;
    border: 1px solid  #ff8800;
    color: white;
    font-size: 15px;
}

.upload-btn:hover {
    background-color: #ffffff;
    border: 1px solid  #ff8800;
    color: #ff8800;
}

.btn-link {
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 65%;
    }

    .header {
        width: 34%;
    }

    .imagegallery-img {
        width: 31%;
    }

  }
  
  @media screen and (max-width: 1000px) {
    .container {
        width: 60%;
    }

    .header {
        width: 39%;
    }

    .imagegallery-img {
        width: 31%;
    }

  }

  @media screen and (max-width: 880px) {
    .container {
        width: 55%;
    }

    .header {
        width: 44%;
    }

    .imagegallery-img {
        width: 47%;
    }

  }

  @media screen and (max-width: 780px) {
    .container {
        width: 45%;
    }

    .header {
        width: 54%;
    }

    .imagegallery-img {
        width: 100%;
    }

  }

  @media screen and (max-width: 650px) {
    .container {
        width: 100%;
    }

    .header {
        width: 100%;
        height: 700px;
    }

    .imagegallery-img {
        width: 98%;
    }

    .upload-btn {
        width: 40%;
    }


  }

  .project-image {
    width: 70%;
    margin-left: 15%;
    padding-bottom: 30px;
    padding-top: 30px;
}

.project-info {
    width: 70%;
    margin-left: 15%;
}

.comments-field {
    padding-bottom: 20px;
    width: 70%;
    margin-left: 15%;
    padding-top: 30px;
}

.comment {
    width: 40%;
    border: 1px solid black;
    border-radius: 5px;
}

.username {
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
}

.comment-text {
    padding-left: 15px;
    padding-right: 15px;
}

.star-rating {
    padding-left: 15px;
}